@media screen and (300px <= width <= 600px){
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    /* Image de Fond */
    
    h1, h2{
        position: absolute;
        z-index: 3;
        top: 0;
        color: #FCF16E;
        text-shadow:  0 0 1px black, 
        0 0 2px black, 
        0 0 3px black,   
        0 0 4px black, 
        0 0 5px black;
        font-size: 25px;
        margin-left: 10px;
    }
    h2{
        margin-top: 50px;
    }
    
    .filtre-img{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: #000000e8;
        z-index: 2;
        opacity: 0.1;
    }
    .img-fond{
        background: url(img/test2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
    }
    .logo-lux{
        background: url(img/LOGO-LUXEUIL-2017_RVB_RESERVE.png);
        background-size: cover;
        width: 120px;
        height: 140px;
        position: absolute;
        top: 78vh;
        left: 65vw;
        z-index: 3;
    }
    .logo-pole{
        background: url(img/logo\ pole\ culturel.png);
        background-size: cover;
        width: 120px;
        height: 110px;
        position: absolute;
        top: 82vh;
        left: 1vw;
        z-index: 3;
    }
    
    /* Onglet */
    
    nav{
        display: grid;
        justify-content: flex-end;
        align-items: flex-end;
        grid-gap: 30px;
        font-family : 'Pacifico', cursive ;
        z-index: 10;
        visibility: hidden;
        margin-top: -85vh;
    }
    a{
        text-decoration: none;
        color: white;
        text-shadow:  0 0 7px black, 
        0 0 10px black, 
        0 0 42px black,   
        0 0 77px black, 
        0 0 100px black;
        padding: 12px;
        font-size: 18px;

    }
    .burger{
        background: url(img/icon/burger.svg);
        background-size: cover;
        width: 70px;
        height: 70px;
        position: absolute;
        top: 15px;
        margin-left: 70vw;
        z-index: 3;
    }
    .overlay{
        width: 100vw;
        height: 101vh;
        position: absolute;
        background: #000;
        top: 0;
        z-index: 5;
        opacity: 0.7;
        visibility: hidden;
    }
    .cross{
        background: url(img/icon/cross.svg);
        width: 32px;
        height: 30px;
        background-size: cover;
        margin: 30px;
        position: absolute;
        top: 0;
        z-index: 6;
        visibility: hidden;
        font-family : 'Pacifico', cursive ;
    }
    .onglet{
        position: relative;
        width: 240px;
        height: 40px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
        border-radius: 30px 0px 0px 30px ;
        display: flex;
        z-index: 10;
    }


    .separation{
        width: 0.2vw;
        height: 4vh;
        background: white;
        margin-top: 1vh;
        margin-right: 5px;
        box-shadow:  0 0 7px black, 
        0 0 10px black, 
        0 0 42px black,   
        0 0 77px black, 
        0 0 100px black;
    }
    .logo-spec{
        background: url(img/icon/spec.svg);
        background-size: cover;
        width: 7vw;
        height: 4vh;
        margin-left: 2.5vw;
        margin-top: 0.6vh;
        margin-right: 1vw;
    }
    .spec{
        background: #A76682;
    }
    .logo-theatre{
        background: url(img/icon/theatre.svg);
        background-size: cover;
        width: 7vw;
        height: 4vh;
        margin-left: 2.5vw;
        margin-top: 0.6vh;
        margin-right: 1vw;
    }
    .theat{
        background: #48869C;
    }
    .logo-magie{
        background: url(img/icon/magie.svg);
        background-size: cover;
        width: 5.2vw;
        height: 4vh;
        margin-left: 3.2vw;
        margin-top: 0.6vh;
        margin-right: 2.1vw;
    }
    .magie{
        background: #F3706D;
    }
    .logo-chorale{
        background: url(img/icon/chorale.svg);
        background-size: cover;
        width: 7vw;
        height: 4vh;
        margin-left: 2.5vw;
        margin-top: 0.6vh;
        margin-right: 1vw;
    }
    .chorale{
        background: #EF4B23;
    }
    .logo-cirque{
        background: url(img/icon/cirque.svg);
        background-size: cover;
        width: 7vw;
        height: 4vh;
        margin-left: 2.5vw;
        margin-top: 0.6vh;
        margin-right: 1vw;
    }
    .cirque{
        background: #FCF16E;
    }
    .logo-comedie{
        background: url(img/icon/comedie.svg);
        background-size: cover;
        width: 7vw;
        height: 4vh;
        margin-left: 2.5vw;
        margin-top: 0.6vh;
        margin-right: 1vw;;
    }
    .comedie{
        background: #418376;
    }
    .logo-autre{
        background: url(img/icon/school.svg);
        background-size: cover;
        width: 7vw;
        height: 4vh;
        margin-left: 2.5vw;
        margin-top: 0.6vh;
        margin-right: 1vw;
    }
    .autre{
        background: #7c4343;
    }
    .logo-contact{
        background: url(img/icon/contact.svg);
        background-size: cover;
        width: 7vw;
        height: 4vh;
        margin-left: 2.5vw;
        margin-top: 0.7vh;
        margin-right: 1vw;
    }
    .contact{
        background: #44498f;
    }
    
    .icon:hover{
        animation: rotate 2s ease-in ;
    }
    @keyframes rotate {
        0%{
            transform: rotate(-20deg);
        }
        25%{
            transform: rotate(20deg);
        }
        50%{
            transform: rotate(-20deg);
        }
        75%{
            transform: rotate(20deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
}