@media screen and (min-width: 1200px){
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
        transform-style: preserve-3d;
        overflow-y: scroll;
    }
    
    /* Image de Fond */
    

    svg{
        position: absolute;
        display: block;
        font: 4em 'Sofia Sans Condensed';
        width: 960px;
        height: 600px;
        top: 30vh;
        left: 35vw;
        text-shadow:  0 0 20px black, 
        0 0 2px black, 
        0 0 3px black,   
        0 0 4px black, 
        0 0 5px black;
    }
    
    .text-copy {
        fill: none;
        stroke: white;
        stroke-dasharray: 6% 29%;
        stroke-width: 5px;
        stroke-dashoffset: 0%;
        animation: stroke-offset 5.5s infinite linear;
    }
    
    .text-copy:nth-child(1){
      stroke: #FCF16E;
      animation-delay: -1;
    }
    
    .text-copy:nth-child(2){
      stroke: #FCF16E;
      animation-delay: -2s;
    }
    
    .text-copy:nth-child(3){
      stroke: #FCF16E;
      animation-delay: -3s;
    }
    
    .text-copy:nth-child(4){
      stroke: #FCF16E;
      animation-delay: -4s;
    }
    
    .text-copy:nth-child(5){
      stroke: #FCF16E;
      animation-delay: -5s;
    }
    
    @keyframes stroke-offset{
      100% {stroke-dashoffset: -35%;}
    } 
    .img-fond{
        background: url(img/Fond-Animé.gif);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        background-position-y: -30vh;
    }
    .logo-lux{
        background: url(img/LOGO-LUXEUIL-2017_RVB_RESERVE.png);
        background-size: cover;
        width: 160px;
        height: 180px;
        position: absolute;
        top: 75vh;
        left: 1vw;
        z-index: 3;
    }
    .logo-pole{
        background: url(img/logo\ pole\ culturel.png);
        background-size: cover;
        width: 190px;
        height: 180px;
        position: absolute;
        top: 2vh;
        left: 1vw;
        z-index: 3;
    }
    
    /* Onglet */
    
    nav{
        display: grid;
        justify-content: flex-end;
        align-items: flex-end;
        grid-gap: 25px;
        font-family : 'Pacifico', cursive ;
        z-index: 10;
        position: absolute;
        top: 5vh;
        left: 75vw;
    }
    .onglet > .genre > .lien-nav::after{
        display: block;
        width: 0;
        height: 0.2vh;
        background: white;
        content: "";
        transition: width 1s;
        margin-left: 2vw;
        margin-top: -0.5vh;
        box-shadow:  0 0 7px black, 
        0 0 10px black, 
        0 0 42px black,   
        0 0 77px black, 
        0 0 100px black;
    }
    .onglet:hover > .genre > .lien-nav::after{
        width: 50%;
    }
    .lien-nav{
        color: white;
        text-shadow:  0 0 7px black, 
        0 0 10px black, 
        0 0 42px black,   
        0 0 77px black, 
        0 0 100px black;
        font-size: 3vh;
        margin-left: 0.5vw;
    }
    a{
        text-decoration: none;
    }
    .cross{
        display: none;
    }
    .onglet{
        width: 28vw;
        height: 6vh;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
        border-radius: 50px 0px 0px 50px ;
        display: flex;
        transform: translateX(5vw);
        transition: transform 1s;
        z-index: 10;
    }
    .onglet:hover{
        transform: translateX(0px);
        transition: transform 1s;
    }

    .separation{
        width: 0.2vw;
        height: 4vh;
        background: white;
        margin-top: 1vh;
        margin-right: 5px;
        box-shadow:  0 0 7px black, 
        0 0 10px black, 
        0 0 42px black,   
        0 0 77px black, 
        0 0 100px black;
    }
    .logo-actu{
        background: url(img/icon/actu.svg);
        background-size: cover;
        width: 2vw;
        height: 4vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 1vw;
    }
    .actu{
        background: #3a3a3a;
    }
    .logo-spec{
        background: url(img/icon/spec.svg);
        background-size: cover;
        width: 2vw;
        height: 4vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 1vw;
    }
    .spec{
        background: #A76682;
    }
    .logo-theatre{
        background: url(img/icon/theatre.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .theat{
        background: #48869C;
    }
    .logo-magie{
        background: url(img/icon/magie.svg);
        background-size: cover;
        width: 2vw;
        height: 5.1vh;
        margin-left: 1.2vw;
        margin-top: 0.5vh;
        margin-right: 1vw;
    }
    .magie{
        background: #F3706D;
    }
    .logo-chorale{
        background: url(img/icon/chorale.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .chorale{
        background: #EF4B23;
    }
    .logo-cirque{
        background: url(img/icon/cirque.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .cirque{
        background: #FCF16E;
    }
    .logo-comedie{
        background: url(img/icon/comedie.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
        z-index: 10;
    }
    .comedie{
        background: #418376;
    }
    .logo-autre{
        background: url(img/icon/school.svg);
        background-size: cover;
        width: 2.8vw;
        height: 5.09vh;
        margin-left: 0.8vw;
        margin-right: 0.6vw;
    }
    .autre{
        background: #7c4343;
    }
    .logo-contact{
        background: url(img/icon/contact.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .contact{
        background: #44498f;
    }
    
    .onglet:hover > .icon{
        animation: rotate 1s ease-in ;
    }
    @keyframes rotate {
        0%{
            transform: rotate(-20deg);
        }
        50%{
            transform: rotate(20deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    /************************************************************************/

    /****************** Les Affiches à venir ****************************/
    
    
    
    

}

 */
