@media screen and (min-width: 900px){
	:root{
		--color-cube: rgb(7, 7, 7, .4);
		--back: linear-gradient(90deg, rgba(2,0,.6,1) 0%, rgba(9,9,121,1) 35%, rgba(0,212,255,1))
	}
	
	html, body {
		background: white;
		text-align: center;
		height: 100vh;
		overflow: hidden;
		margin: 0;
	  }
	  ::selection {
		background: rgb(219, 80, 82);
	  }
	  .svg-wrapper {
		position: relative;
		top: 50%;
		transform: translateY(-60%);
		margin: 0 auto;
		width: 500px;

	  }
	  .shape1,
	  .shape2 {
		stroke-dasharray: 1120;
		stroke-width: 5px;
		fill: transparent;
		stroke: rgb(219, 80, 82, .5);
		border-bottom: 5px solid black;
		transition-timing-function: linear;
		transition: stroke-dashoffset 4s, stroke-dasharray 4s;
	  }
	  .shape1 {
		stroke-dashoffset: 1120;
	  }
	  .shape2 {
		stroke-dashoffset: -1120;
	  }
	  .text {
		font-family: 'Roboto Condensed';
		font-size: 22px;
		line-height: 32px;
		letter-spacing: 8px;
		color: #1D1D1D;
		top: -48px;
		position: relative;
	  }

	  .svg-wrapper:hover .shape1,
	  .svg-wrapper:hover .shape2 {
		stroke-dashoffset: 0;
		stroke-dasharray: 1120;
	  }
}
#cube{
    width: 30px;
    height: 30px;
    perspective: 1000px;
    margin: 100px auto 0;
    z-index: 1;
	position: absolute;
	margin-left: 40%;

}

.cube{
    width: 100%;
    height: 100%;
    position: relative;
    transform-style: preserve-3d;
    animation: spin 20s infinite linear;}


.face{
    position: absolute;
    width: 300px;
    height: 300px;
}

.top{
    background: linear-gradient(49deg, rgb(39, 39, 39, .7), var(--color-cube) 46%);
    transform: rotateX(90deg) translateZ(150px);}

.bottom{
    background: linear-gradient(49deg, rgb(39, 39, 39, .7), var(--color-cube) 46%);
    transform: rotateX(-90deg) translateZ(150px);}

.right{
    background: linear-gradient(49deg, rgb(39, 39, 39, .7), var(--color-cube) 46%);
    transform: rotateY(90deg) translateZ(150px);}

.left{
    background: linear-gradient(49deg, rgb(39, 39, 39, .7), var(--color-cube) 46%);
    transform: rotateY(-90deg) translateZ(150px);}

.back{
    background: linear-gradient(49deg, rgb(39, 39, 39, .7), var(--color-cube) 46%);
    transform: rotateX(-180deg) translateZ(150px);}

.front{
    background: linear-gradient(49deg, rgb(39, 39, 39, .7), var(--color-cube) 46%);
    transform: rotateX(0) translateZ(150px);}

	@keyframes spin {
		from{
			transform: rotateX(0deg) rotateY(0deg)  ;
		}
		to{
			transform: rotateX(360deg) rotateY(360deg);
		}}