:root{

    /* Couleur et Icones des Onglets */

    --colorSpectacle: #A76682;
    --colorTheatre: #48869C;
    --colorMagie: #F3706D;
    --colorChorale: #EF4B23;
    --colorCirque: #fcd66e;
    --colorComedie: #418376;
    --colorAutreRDV: #7c4343;
    --colorContact: #44498f;

    --colorTextOnglet: white;
    --colorSeparationOnglet: white;
    --shadowOnglet: black;
    --soulignTextOnglet: white;

    --iconeSpectacle: url(img/icon/Spectacle.svg);
    --iconeTheatre: url(img/icon/Theatre.svg);
    --iconeMagie: url(img/icon/Magie.svg);
    --iconeChorale: url(img/icon/Chorale.svg);
    --iconeCirque: url(img/icon/Cirque.svg);
    --iconeComedie: url(img/icon/Comedie.svg);
    --iconeAutre: url(img/icon/Autre.svg);
    --iconeContact: url(img/icon/Contact.svg);

    /* Ombre des Bouton */

    --shadowBtnSpectacle: #68394d;
    --shadowBtnTheatre: #265566;
    --shadowBtnMagie: #af5150;
    --shadowBtnChorale: #b63a1b;
    --shadowBtnCirque: #d8ce60;
    --shadowBtnComedie: #376d62;
    --shadowBtnAutre: #5a3434;
    --shadowBtnContact: #353969;

    /* Couleur du Titre */

    --colorTitle: #fcd66e;
    --shadowTitle: black;

    --colorMenuBurgerAcc: #fcd66e;
    --colorCrossAcc: #fcd66e;

    --colorMenuBurgerOther: white;
    --colorCrossOther: white;

    /******** Couleur du Texte des Cartes Évènement ******/

    --colorTitleCard: #3a3a3a;
    --colorParaCard: #575555;

    /* Couleur Primaire du site */

    --colorPrimary: #3a3a3a;
    
    /* Couleur du Texte Footer (Bas de Page) */

    --colorTextFooter: white;
    --colorHoverFooter: #7c4343;

    /* ********************************************* */
    
    /* Image Page d'Accueil */
    
    --imagePrimary: url(img/fond.jpg);
    --imageLogoLuxeuil: url(img/logoLuxeuil.png);
    --imageLogoPole: url(img/logoPole.png);
    --imageBurger: url(img/icon/Burger.svg);
    --imageCross: url(img/icon/Cross.svg);

    /* Image du Site */

    --imageCircle: url(img/fondCircle.jpg);

    /* Image Carte Passe */

    --imageCardPass: url(img/cardPass.svg);
    /* Image et Icone du Footer */

    --imageFooter: url(img/footerAccueil.jpg);

    --iconeAdress: url(img/icon/Adress.svg);
    --iconePhone: url(img/icon/Phone.svg);
    --iconeMail: url(img/icon/Mail.svg);
    --iconeFacebook: url(img/icon/Facebook.svg);
    --iconeVille: url(img/icon/Ville.svg);
    --iconeOfficeTourism: url(img/icon/OfficeTourism.svg);
    --iconeAdmin: url(img/icon/Admin.svg);
    --iconeArrow: url(img/icon/Arrow.svg);

    --iconeAdressRed: url(img/icon/AdressRed.svg);
    --iconePhoneRed: url(img/icon/PhoneRed.svg);
    --iconeMailRed: url(img/icon/MailRed.svg);
    --iconeFacebookRed: url(img/icon/FacebookRed.svg);
    --iconeVilleRed: url(img/icon/VilleRed.svg);
    --iconeOfficeTourismRed: url(img/icon/OfficeTourismRed.svg);
    --iconeAdminRed: url(img/icon/AdminRed.svg);
    --iconeArrowRed: url(img/icon/ArrowRed.svg)

}