body{
    padding: 0;
    margin: 0;
    font-family : 'Kaushan Script', cursive ;
}

.fond_titre{
    background: #484545;
    width: 100%;
    height: 50px;
    top: 0;
    left: 0;
    position: absolute;
}
.fond_titre2{
    background: #484545;
    width: 100%;
    height: 100px;
    top: 0;
    left: 0;
    position: absolute;
    transform: skewY(-3deg);
}
.titre{
    position: relative;
    color: white;
    margin-left: 42%;
}
#pres{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}
.pres{
    width: 400px;
    height: 20px;
}
#present{
    width: 400px;
}
.fond_exp{
    width: 100%;
    height: 600px;
    background-color: rgb(7, 7, 7, .7);
    transform: skewY(-3deg);
    position: absolute;
    margin-top: 100px;

}
#exp{

    position: relative;
    margin-top: 200px;
}

.title_exp{
    margin-left: 45%;
    color: white;
}
.exp1, .exp2, .exp3, .exp4{
    margin-top: 50px;
    margin-left: 20%;
    color: white;
}

.title_comp{
    margin-left: 44%;
    margin-top: 200px;
}

.comp{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
label{
    margin: 20px;
}
.info_title{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px;

}
#info{
    display: flex;
    justify-content: center;
    align-items: center;

}
.fond_info{
    width: 100%;
    height: 300px;
    background: #484545;
    position: relative;
    margin-top: -50px;
}
.fond_info2{
    width: 100%;
    height: 150px;
    background: #484545;
    position: relative;
    transform: skewY(-3deg);
    margin-top: 100px;
}
.info{
    margin-top: -400px;
    position: absolute;
    margin-left: 400px;
    color: white;
}
.button{
    margin-left: 43%;
    background: transparent;
    width: 150px;
    height: 50px;
    border: 2px solid white;
    color: white;
    margin-top: 50px;
}