
body{
    margin: 20px;
    font-family: 'Caveat', cursive;
    color: #484545;
    width: 210mm;
    height: 297mm;
    border: 2px solid;
}

.fond{
    position: absolute;
    width: 210mm;
    height: 297mm;
}

.nom_age{
    margin-left: 50px;
    position: relative;
    font-size: 20px;
    color: #DC5052;
}

.metier_phrase{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -150px;
    margin-left: 40%;
}

.metier{
    font-size: 20px;
}


.coordonne{     
    position: relative;
    margin-left: 50px;
    margin-top: 390px;
}

.metier_phrase{
    position: relative;
    display: flex;
    flex-direction: column;
    margin-top: -150px;
}

.metier{
    font-size: 30px;
    margin-top: -10px;
    margin-left: -20px;
}

.citation{
    margin-top: -20px;
    margin-left: -100px;
}

.gauche{
    width: 10px;
    height: 10px;
    margin-bottom: 3px;
    margin-right: 5px;
}

.droite{
    width: 10px;
    height: 10px;
    margin-left: 5px;
}
.icone{
    width: 30px;
    height: 30px;
    border-radius: #DC5052;
}
.presentation{
    position: relative;
    width: 250px;
    margin-top: -480px;
    margin-left: 40PX;
}

.diplome{
    position: relative;
    margin-top: 400px;
    margin-left: 40px;
}
.comp{
    position: relative;
    margin-top: -750px;
    margin-left: 400px;
}
.loisir{
    position: relative;
    margin-left: 400px;
    margin-top: 100px;
}