:root{
    --progress: 10%;
}

*{
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

#progressBar{
    width: 220px;
    height: 35px;
    border: 2px solid rgb(230, 18, 124);    
    position: relative; 
    border-radius: 25px;
}

#progressBar::before{
    content: attr(data-progress);
    top: 0;
    left: 0;
    width: var(--progress);
    max-width: 98%;
    height: 90%;
    background-color: rgb(230, 18, 124); 
    position: absolute;
    border-radius: 25px;
    margin: 2px;
    text-align: center;
    color: #fff;
    text-shadow:  0 0 7px #fff, 
             0 0 10px #fff, 
             0 0 42px rgb(230, 18, 124),   
             0 0 77px rgb(230, 18, 124), 
             0 0 100px rgb(230, 18, 124) 
    /* animation: progress 1s, infinite; */
}

/* @keyframes progress{
    0%{
        width: 0%;
        content: ("10%");
    }
    25%{
        width: 25%;
        content: ("25%");
    }
    50%{
        width: 50%;
        content: ("50%");
    }
    75%{
        width: 75%;
        content: ("75%");
    }
    100%{
        width: 100%;
        content: ("100%");
    }
} */