body{
    background-color: rgb(27, 27, 27);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}
.caroussel-img{
    perspective: 200px;
    width: 600px;
}
.images{
    animation: rotate360 10s linear infinite;
    transform-style: preserve-3d;
}
.img1{
    transform: rotateY(60deg) translateX(550px) translateZ(290px);
}
.img3{
    transform: rotateY(-60deg) translateX(-550px) translateZ(290px);
}
@keyframes rotate360 {
    from{
        transform: rotateY(0deg);
    }
    to{
        transform: rotateY(-360deg);       
    }
}