body{
    margin: 0;
    padding: 0;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: rgb(7, 7, 7, .7);
}
button{
    width: 2vw;
    height: 4.1vh;
    position: absolute;
    background: url(img/material-symbols_search-rounded.svg);
    border: orange;
    background-color: orange;
    background-size: cover;
    cursor: pointer;
}
input{
    height: 3.3vh;
    background: none;
    border: 2px solid orange;
    color: white;
    transform: translateX(13vw);
    z-index: -10;

}
input::placeholder{
    color: white;
}
.bar{
    overflow: hidden;
}