@media screen and (min-width: 1200px){
    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
    
    /* Image de Fond */
    
    h1, h2{
        position: absolute;
        z-index: 3;
        top: 0;
        color: #FCF16E;
        text-shadow:  0 0 20px black, 
        0 0 2px black, 
        0 0 3px black,   
        0 0 4px black, 
        0 0 5px black;
        font-size: 40px;
        margin: 50px;
    }
    h2{
        margin-top: 100px;
    }
    
    .filtre-img{
        width: 100vw;
        height: 100vh;
        position: absolute;
        background: #000000e8;
        z-index: 2;
        opacity: 0.1;
    }
    .img-fond{
        background: url(img/test2.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        width: 100vw;
        height: 100vh;
        background-position-y: -50vh;
    }
    .logo-lux{
        background: url(img/LOGO-LUXEUIL-2017_RVB_RESERVE.png);
        background-size: cover;
        width: 10vw;
        height: 23vh;
        position: absolute;
        top: 75vh;
        left: 85vw;
        z-index: 3;
    }
    .logo-pole{
        background: url(img/logo\ pole\ culturel.png);
        background-size: cover;
        width: 10.6vw;
        height: 19vh;
        position: absolute;
        top: 77vh;
        left: 1vw;
        z-index: 3;
    }
    
    /* Onglet */
    
    nav{
        display: grid;
        justify-content: flex-end;
        align-items: flex-end;
        grid-gap: 25px;
        font-family : 'Pacifico', cursive ;
        z-index: 10;
        position: absolute;
        top: 5vh;
        left: 75vw;
    }
    .lien-nav{
        color: white;
        text-shadow:  0 0 7px black, 
        0 0 10px black, 
        0 0 42px black,   
        0 0 77px black, 
        0 0 100px black;
        padding: 10px;
        font-size: 3vh;
    }
    a{
        text-decoration: none;
    }
    .cross{
        display: none;
    }
    .onglet{
        width: 25vw;
        height: 6vh;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;    
        border-radius: 50px 0px 0px 50px ;
        display: flex;
        transform: translateX(80px);
        transition: transform 1s;
        z-index: 10;
    }
    .onglet:hover{
        transform: translateX(0px);
        transition: transform 1s;
    }
    .separation{
        width: 0.2vw;
        height: 4vh;
        background: white;
        margin-top: 1vh;
        margin-right: 5px;
        box-shadow:  0 0 7px black, 
        0 0 10px black, 
        0 0 42px black,   
        0 0 77px black, 
        0 0 100px black;
    }
    .logo-spec{
        background: url(img/icon/spec.svg);
        background-size: cover;
        width: 2vw;
        height: 4vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 1vw;
    }
    .spec{
        background: #A76682;
    }
    .logo-theatre{
        background: url(img/icon/theatre.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .theat{
        background: #48869C;
    }
    .logo-magie{
        background: url(img/icon/magie.svg);
        background-size: cover;
        width: 2vw;
        height: 5.1vh;
        margin-left: 1.2vw;
        margin-top: 0.5vh;
        margin-right: 1vw;
    }
    .magie{
        background: #F3706D;
    }
    .logo-chorale{
        background: url(img/icon/chorale.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .chorale{
        background: #EF4B23;
    }
    .logo-cirque{
        background: url(img/icon/cirque.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .cirque{
        background: #FCF16E;
    }
    .logo-comedie{
        background: url(img/icon/comedie.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .comedie{
        background: #418376;
    }
    .logo-autre{
        background: url(img/icon/school.svg);
        background-size: cover;
        width: 2.8vw;
        height: 5.05vh;
        margin-left: 1vw;
        margin-top: 0.3vh;
        margin-right: 0.5vw;
    }
    .autre{
        background: #7c4343;
    }
    .logo-contact{
        background: url(img/icon/contact.svg);
        background-size: cover;
        width: 2.5vw;
        height: 5vh;
        margin-left: 1vw;
        margin-top: 0.5vh;
        margin-right: 0.7vw;
    }
    .contact{
        background: #44498f;
    }
    
    .icon:hover{
        animation: rotate 2s ease-in ;
    }
    @keyframes rotate {
        0%{
            transform: rotate(-20deg);
        }
        25%{
            transform: rotate(20deg);
        }
        50%{
            transform: rotate(-20deg);
        }
        75%{
            transform: rotate(20deg);
        }
        100%{
            transform: rotate(0deg);
        }
    }
    /************************************************************************/

    /****************** Les Affiches à venir ****************************/

    .cards{
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 10vh;
        font-family: 'Moon Dance', cursive;
        font-size: 2.2vh;
    }

    .card1{
        width: 15vw;
        height: 47vh;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;        
        border-radius: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-size: cover;
        overflow: hidden;
    }
    .img-card1{
        width: 12.5vw;
        height: 15vh;
        z-index: 1;
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        margin-top: -3vh;
    }
    .affiche img{
        width: auto;
        height: 20vh;
        z-index: -1;
    }
    .text-card1{
        color: rgb(97, 97, 97);
        margin-bottom: 2vh;
    }
    .button-card1{
        position: absolute;
        width: 9.5vw;
        height: 5.2vh;
        border-radius: 20px;
        background: url(img/fondtest2_1.jpg);
        top: 147.2vh;
        left: 44.65vw;
        z-index: -10;
    }
    /* .slide-button1{
        position: absolute;
        width: 9vw;
        height: 4.4vh;
        border-radius: 20px;
        background: white;
        top: 147.6vh;
        left: 44.85vw;
        z-index: -5;
    } */
    .lien-card1 a{
        color: black;
        font-family: 'Rubik Bubbles', cursive;
        font-size: 2vh;
    }

}

