body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#rect{
    width: 100px;
    height: 100px;
    background-color: blue;
}

.button{
    width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    padding: 50px;
}

.button .bouton{
    padding-top: 50px;
}