:root{
    --image1: 0px;
    --image2: -200px;
    --image3: -405px;
    --image4: -610px;
    --image5: -815px;
    --image6: -1020px;
    --image7: -1080px;
    --image8: -1120px
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    width: 100vw;
    overflow-x: hidden;
}

/* --------------  HEADER  -------------- */

header{
    display: flex;
    justify-content: space-around;
    position: fixed;
    background-color: white;
    width: 100vw;
    height: 9%;
    padding: 10px;
    z-index: 1;
}

/* --------------  NAVBAR  -------------- */

.logo{
    margin-left: 40px;
}
nav{
    width: 40vw;
    margin-top: 20px;
}
ul{
    display: flex;
    justify-content: space-around;
}
li{
    list-style-type: none;
}
a{
    text-decoration: none;
    color: black;
    font-size: 14px;
    font-weight: 600;
}
.home{
    color: #D73232;
}
.drop::after{
    content: "▼";
    font-size: 10px;
}
.start{
    background: #D73232;
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: -30px;
    font-weight: 600;
}
nav ul li a:hover{
    color: #D73232;
}
.start:hover{
    background: black;
    transition: 0.5s;
}

/* --------------  IMAGE  -------------- */

.img_head{
    background: url(Img/hero-bg.jpg);
    width: 100vw;
    height: 1100px;
}
.blur_img{
    background-color: rgb(7, 7, 7, .5);
    width: 100vw;
    height: 1100px;
    margin-top: -1100px;
}
.title{
    margin-top: -750px;
    margin-left: 300px;
    font-size: 50px;
    color: white;
    width: 700px;
}
.subtitle{
    color: white;
    margin-left: 300px;
    margin-top: 10px;
    font-size: 24px;
    width: 600px;
}
.submit{
    background: #D73232;
    width: 160px;
    height: 50px;
    border: none;
    border-radius: 5px;
    color: white;
    margin-top: -30px;
    font-weight: 600;
    margin-top: 15px;
    margin-left: 300px;
    font-size: 18px;
    margin-bottom: 550px;
}

/* --------------  CAROUSSEL  -------------- */

#images{
    animation: spin 20s ease-in infinite;
    filter: grayscale();
}
#change{
    position: absolute;
    height: 150px;
    left: 200px;
    top: 0;
    background: white;
    z-index: 1;
}
#caroussel{
    width: 2000px;
    height: 200px;
    overflow: hidden;
    margin-left: 20%;
    margin-bottom: 50px;
}
#img1, #img2, #img3, #img4, #img5, #img6, #img7, #img8{
    width: 100px;
    height: 40px; 
    margin: 20px;
    margin-left: 100px;
}
input{
    margin: 5px;
}
#input{
    margin-left: 25%;
}
input[type="radio"]::after{
    width: 11px;
    height: 11px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    background-color: white;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 1px solid #D73232;
}
input[type="radio"]:checked::after{
    width: 10px;
    height: 10px;
    border-radius: 15px;
    top: 0px;
    left: 0px;
    background-color: #D73232;
    content: "";
    display: inline-block;
    visibility: visible;
    border: 2px solid #D73232;
}
@keyframes spin{
    0%{
        transform: translateX(var(--image1));
    }
    15%{
        transform: translateX(var(--image2));  
    }
    30%{
        transform: translateX(var(--image3));     
    }
    45%{
        transform: translateX(var(--image4));   
    }
    60%{
        transform: translateX(var(--image5)); 
    }
    75%{
        transform: translateX(var(--image6));    
    }
    90%{
        transform: translateX(var(--image7));    
    }
    100%{
        transform: translateX(var(--image8));    
    }
}

/* --------------  ABOUT US  -------------- */

.content{
    width: 100vw;
    height: 500px;
    background-color: #1D1D1D;
    transform: skewY(-3deg);
    display: flex;
    color: white
}
.left{
    transform: skewY(3deg);
    margin-top: 100px;
    margin-left: 15%;
}
.title2{
    font-size: 35px;
    margin-bottom: 30px;
    width: 500px;
}
.subtitle2{
    width: 450px;
}
.submit2{
    margin-top: 50px;
    background: transparent;
    width: 140px;
    height: 40px;
    border-radius: 26px;
    border: 2px solid #D73232;
    color: white;
}
.submit2::after{
    content: "►";
    margin-left: 10px;
}
.right{
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 50%);
    transform: skewY(3deg);
    margin-top: 100px;
    margin-left: 70px;
}
.title3{
    font-size: 20px;
    width: 400px;
    margin-top: 30px;
}
.title3::before{
    content: "";
    background: url(Img/paper.png);
    width: 40px;
    height: 40px;
    display: block;
    background-size: cover;
    margin-bottom: 15px;
}
.title4{
    font-size: 20px;
    width: 400px;
    margin-top: 30px;
}
.title4::before{
    content: "";
    background: url(Img/cube.png);
    width: 40px;
    height: 40px;
    display: block;
    background-size: cover;
    margin-bottom: 15px;
}
.title5{
    font-size: 20px;
    width: 400px;
}
.title5::before{
    content: "";
    background: url(Img/photo.png);
    width: 40px;
    height: 40px;
    display: block;
    background-size: cover;
    margin-bottom: 15px;
}
.title6{
    font-size: 20px;
    width: 400px;
}
.title6::before{
    content: "";
    background: url(Img/shield.png);
    width: 30px;
    height: 36px;
    display: block;
    background-size: cover;
    margin-bottom: 15px;
}
.subtitle3{
    color: #7C7676;
    width: 350px;
}

/* --------------  COMPTEUR  -------------- */

.count{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    margin-top: 150px;
    margin-left: 18%;
}
.count1, .count2, .count3, .count4{
    width: 300px;
    height: 120px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 5px;
    text-align: center;
}
#compteur1, #compteur2, #compteur3, #compteur4{
    margin-top: 15px;
    font-size: 30px;
    font-weight: bold;

}
.rect{
    font-size: 13px;
    margin-top: 10px;
}
.count1::before{
    content: "";
    width: 50px;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: block;
    border-radius: 30px;
    margin-left: 41%;
    margin-top: -25px;
    color: white;
    background: url(Img/smile.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
}
.count2::before{
    content: "";
    width: 50px;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: block;
    border-radius: 30px;
    margin-left: 41%;
    margin-top: -25px;
    color: white;
    background: url(Img/book.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
}

.count3::before{
    content: "";
    width: 50px;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: block;
    border-radius: 30px;
    margin-left: 41%;
    margin-top: -25px;
    color: white;
    background: url(Img/headphone.png);
    background-repeat: no-repeat;
    background-position-x: 12px;
    background-position-y: 12px;
}
.count4::before{
    content: "";
    width: 50px;
    height: 50px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: block;
    border-radius: 30px;
    margin-left: 41%;
    margin-top: -25px;
    color: white;
    background: url(Img/user.png);
    background-repeat: no-repeat;
    background-position-x: 15px;
    background-position-y: 15px;
}

/* --------------  BTN-TABS  -------------- */

#nav-link-bar{
    display: grid;
    grid-template-columns: repeat(4, 21.5%);
    margin-top: 150px;
    margin-left: 18%;
    width: 1600px;
    height: 110px;
    margin-top: 7%;
    margin-bottom: 3%;
}
#nav-link1{
    border: none;
    background-color: #D73232;
    color: white;
    width: 300px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: start;
    padding: 20px;
    cursor: pointer;
} 
#nav-link2, #nav-link3, #nav-link4{
    border: 1px solid black;
    background-color: transparent;
    width: 300px;
    font-size: 20px;
    display: flex;
    align-items: center;
    text-align: start;
    padding: 20px;
    cursor: pointer;
}
#nav-link1::before{
    background-image: url(Img/radar.png);
    width: 50px;
    height: 50px;
    display: block;
    margin-top: -15px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    margin-left: -10px;
}
#nav-link2::before{
    background-image: url(Img/smoke.png);
    width: 42px;
    height: 40px;
    display: block;
    margin-top: -15px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}
#nav-link3::before{
    background-image: url(Img/sun.png);
    width: 40px;
    height: 40px;
    display: block;
    margin-top: -15px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
    margin-right: 20px;
}
#nav-link4::before{
    background-image: url(Img/store.png);
    width: 40px;
    height: 40px;
    display: block;
    margin-top: -15px;
    content: "";
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10px;
}


/* --------------  CONTENT-TABS  -------------- */

#content-text1{
    display: flex;
    position: absolute;
    width: 1340px;
    height: 500px;
    margin-left: 18%;
}

#content-text2{
    position: relative;
    display: flex;
    width: 1340px;
    height: 500px;
    margin-left: 18%;
    visibility: hidden;
}
#content-text3{
    position: relative;
    display: flex;
    margin-top: -500px;
    width: 1340px;
    height: 500px;
    margin-left: 18%;
    visibility: hidden;
}
#content-text4{
    position: relative;
    display: flex;
    margin-top: -500px;
    width: 1340px;
    height: 500px;
    margin-left: 18%;
    visibility: hidden;
}

/* --------------  TEXT-TABS  -------------- */

#text-title{
    font-size: 28px;
    margin-bottom: 3%;
}
#text-subtitle{
    width: 650px;
    font-style: italic;
    margin-bottom: 5%;
    margin-left: 10px;
}
#coche{
    margin-bottom: 5%;
    width: 610px;

}
#img-text2, #img-text3, #img-text4{
    margin-right: 3px;
}

/* --------------  SERVICES  -------------- */

.services{
    width: 100vw;
    height: 800px;
    background: #1D1D1D;
    transform: skewY(-3deg);
    margin-top: 100px;
}
.service-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewY(3deg);
    color: white;
}
.serv-title1{
    margin-top: 50px;
    font-size: 30px;
}
.serv-title1::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #D73232;
    display: flex;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 35px;
}
.serv-subtitle1{
    width: 1250px;
    text-align: center;
    margin-bottom: 35px;
}
.cadres{
    color: white;
    transform: skewY(3deg);   
    display: grid;
    grid-template-columns: repeat(2, 48.5%);
    grid-template-rows: repeat(3, 25%);
    grid-gap: 40px;
}
.cadre1{
    background: #242424;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    margin-left: 340px;
    display: flex;
}
.cadre3{
    background: #242424;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    margin-left: 340px;
    display: flex;
}
.cadre5{
    background: #242424;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    margin-left: 340px;
    display: flex;
}
.cadre2{
    background: #242424;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    display: flex;
}
.cadre4{
    background: #242424;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    display: flex;
}
.cadre6{
    background: #242424;
    border-radius: 5px;
    width: 600px;
    height: 150px;
    display: flex;
}
.cadre-img1{
    background: url(Img/work.png);  
    width: 79px;
    height: 40px;
    background-size: cover;  
    margin: 20px;
    margin-top: 30px;
}
.cadre-img2{
    background: url(Img/Paper_Check.png);  
    width: 70px;
    height: 40px;
    background-size: cover;  
    margin: 20px;
    margin-top: 30px;
}
.cadre-img3{
    background: url(Img/graph.png);  
    width: 60px;
    height: 40px;
    background-size: cover;  
    margin: 20px;
    margin-top: 30px;
}
.cadre-img4{
    background: url(Img/jumelle.png);  
    width: 60px;
    height: 40px;
    background-size: cover;  
    margin: 20px;
    margin-top: 30px;
}
.cadre-img5{
    background: url(Img/work.png);  
    width: 79px;
    height: 40px;
    background-size: cover;  
    margin: 20px;
    margin-top: 30px;
}
.cadre-img5{
    background: url(Img/sun-red.png);  
    width: 65px;
    height: 40px;
    background-size: cover;  
    margin: 20px;
    margin-top: 30px;
}
.cadre-img6{
    background: url(Img/calendar.png);  
    width: 62px;
    height: 40px;
    background-size: cover;  
    margin: 20px;
    margin-top: 30px;
}
.cadre-text{
    margin-top: 30px;
    margin-left: 10px;
}
.cadre-title{
    margin-bottom: 15px;
}

/* --------------  PORTFOLIO  -------------- */

.port-text{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.port-title2{
    font-size: 30px;
}
.port-title2::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #D73232;
    display: flex;
    margin-top: 30px;
    margin-left: 45px;
    margin-bottom: 35px;
}
.port-subtitle2{
    width: 1250px;
    text-align: center;
    margin-bottom: 35px;
}
.port-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}
.filter{
    margin: 20px;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
}
.btn-activ{
    width: 60px;
    height: 30px;
    background: #D73232;
    text-align: center;
    border: none;
    border-radius: 2px;
    color: white;
}
.btn-app, .btn-card, .btn-web{
    background: transparent;
    border: none;
}
.port-content{
    display: grid;
    grid-template-columns: repeat(3, 22%);
    grid-template-rows: repeat(3, 22%);
    justify-content: center;
}
.title-web, .title-card, .title-app{
    position: relative;
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 200px;

}
.para-web, .para-card, .para-app{
    position: relative;
    color: white;
    margin-left: 20px;
    margin-top: 10px;
}


/* --------------  TESTIMONIALS  -------------- */

.test-text{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -400px;
}
.test-title2{
    font-size: 30px;
}
.test-title2::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #D73232;
    display: flex;
    margin-top: 30px;
    margin-left: 60px;
    margin-bottom: 35px;
}
.test-subtitle2{
    width: 1250px;
    text-align: center;
    margin-bottom: 35px;
}
.cards{
    display: flex;
    margin-left: 20%;
    width: 1240px;
    height: 400px;
    overflow: hidden;
}
.card1, .card2, .card3, .card4, .card5{
    width: 370px;
    height: 300px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 20px;
    display: flex;
    margin-left: 50px;
    animation: card 10s infinite;
}

@keyframes card{
    0%{
        transform: translateX(0px);
    }
    100%{
        transform: translateX(-1000px);
    }
}

.img-test{
    width: 100px;
    height: 100px;
    margin: 20px;
}
.card-text{
    margin-top: 40px;
    margin-left: -135px;
}
.name{
    padding-left: 130px;
    width: 250px;
    height: 50px;
}
.job{
    color: #959393;
    margin-top: 5px;
    padding-left: 130px;
}
.para1{
    align-self: center;
    margin-top: 100px;
    margin-left: -300px;
    margin-right: 20px;
    width: 310px;
    font-size: 14px;
    font-style: italic;
}
.para1::before{
    content: "❝";
    color: #F6C2C2;
    font-size: 25px;
}
.para1::after{
    content: "❞";
    color: #F6C2C2;
    font-size: 25px;
}
.para2{
    align-self: center;
    margin-top: 100px;
    margin-left: -280px;
    margin-right: 20px;
    width: 310px;
    font-size: 15px;
    font-style: italic;
}
.para2::before{
    content: "❝";
    color: #F6C2C2;
    font-size: 25px;
}
.para2::after{
    content: "❞";
    color: #F6C2C2;
    font-size: 25px;
}
.para3{
    align-self: center;
    margin-top: 100px;
    margin-left: -280px;
    margin-right: 20px;
    width: 310px;
    font-size: 15px;
    font-style: italic;
}
.para3::before{
    content: "❝";
    color: #F6C2C2;
    font-size: 25px;
}
.para3::after{
    content: "❞";
    color: #F6C2C2;
    font-size: 25px;
}
.para4{
    align-self: center;
    margin-top: 100px;
    margin-left: -280px;
    width: 310px;
    font-size: 15px;
    font-style: italic;
}
.para4::before{
    content: "❝";
    color: #F6C2C2;
    font-size: 25px;
}
.para4::after{
    content: "❞";
    color: #F6C2C2;
    font-size: 25px;
}
.para5{
    align-self: center;
    margin-top: 100px;
    margin-left: -280px;
    width: 310px;
    font-size: 15px;
    font-style: italic;
}
.para5::before{
    content: "❝";
    color: #F6C2C2;
    font-size: 25px;
}
.para5::after{
    content: "❞";
    color: #F6C2C2;
    font-size: 25px;
}

/* --------------  PRICING  -------------- */

.pricing{
    width: 100vw;
    height: 720px;
    background: #1D1D1D;
    transform: skewY(-3deg);
    margin-bottom: 100px;
    /* display: none; */
}
.price-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewY(3deg);
    color: white;
}
.title1{
    margin-top: 50px;
    font-size: 30px;
}
.title1::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #D73232;
    display: flex;
    margin-top: 30px;
    margin-left: 40px;
    margin-bottom: 35px;
}
.subtitle1{
    width: 1250px;
    text-align: center;
    margin-bottom: 35px;
}
.subscription{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1900px;
    transform: skewY(3deg);
    color: white;
    text-align: center;
}
.card-sub1{
    width: 400px;
    background: #2E2E2E;
    height: 420px;
    border-radius: 15px;
}
.card-sub2{
    width: 400px;
    background: #D73232;
    height: 420px;
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.card-sub3{
    width: 400px;
    background: #2E2E2E;
    height: 420px;
    border-radius: 15px;
}
.card-title{
    text-align: center;
    margin-top: 30px;
}
.modal{
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
}
.dollar{
    margin-top: -20px;
}
.price{
    font-size: 40px;
}
.month{
    margin-top: 20px;
    margin-left: 5px;
}
.para-1{
    margin-top: 30px;
}
.para-2, .para-3, .para-4, .para-5{
    margin-top: 15px;
}
.para-5{
    margin-bottom: 30px;
}
.buy-now{
    background: transparent;
    border: 2px solid #878686;
    width: 150px;
    height: 50px;
    border-radius: 5px;
    color: white;
    cursor: pointer;
}
.card-sub1 .para-4{
    text-decoration: line-through;
    color: #959393;
}
.card-sub1 .para-5{
    text-decoration: line-through;
    color: #959393;
}
.card-sub2 .para-5{
    text-decoration: line-through;
    color: #959393;   
}

/* --------------  QUESTION  -------------- */

.quest-text{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.quest-title{
    font-size: 30px;
}
.quest-title::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #D73232;
    display: flex;
    margin-top: 30px;
    margin-left: 45%;
    margin-bottom: 35px;
}
.quest-subtitle{
    width: 1250px;
    text-align: center;
    margin-bottom: 35px;
}
.question-content{
    margin-left: 18%;
}
#reponse1, #reponse2, #reponse3, #reponse4, #reponse5, #reponse6{
    margin-left: 30px;
    width: 1000px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: none;
}
.question{
    font-size: 20px;
    margin-bottom: 15px;

}
.question:hover{
    color: #D73232;
}
.trait{
    content: "";
    display: block;
    width: 61vw;
    height: 1px;
    background: #C1BDBD;
    margin-left: -2px;
    margin-bottom: 20px;
}
#ferme1{
    margin-left: 45%;
    color: #C1BDBD;
    cursor: pointer;
}
#ferme2{
    margin-left: 33%;
    color: #C1BDBD;
    cursor: pointer;
}
#ferme3{
    margin-left: 32.5%;
    color: #C1BDBD;
    cursor: pointer;
}
#ferme4{
    margin-left: 39.6%;
    color: #C1BDBD;
    cursor: pointer;
}
#ferme5{
    margin-left: 32%;
    color: #C1BDBD;
    cursor: pointer;
}
#ferme6{
    margin-left: 23%;
    color: #C1BDBD;
    cursor: pointer;
}

/* --------------  TEAM  -------------- */

.team{
    width: 100vw;
    height: 720px;
    background: #1D1D1D;
    transform: skewY(-3deg);
    margin-bottom: 100px;
    margin-top: 100px;
    /* display: none; */
}
.team-text{
    display: flex;
    flex-direction: column;
    align-items: center;
    transform: skewY(3deg);
    color: white;
}
.team-title{
    margin-top: 50px;
    font-size: 30px;
}
.team-title::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #D73232;
    display: flex;
    margin-top: 30px;
    margin-left: 30%;
    margin-bottom: 35px;
}
.team-subtitle{
    width: 1250px;
    text-align: center;
    margin-bottom: 35px;
}
.cards-team{
    transform: skewY(3deg);
    display: flex;
    width: 2000px;
    height: 430px;
    margin-left: 15%;
}
#card-team1, #card-team2, #card-team3, #card-team4{
    margin: 20px;
    border-radius: 10px;
    background: white;
}
.job-team{
    color: #959393;
    margin-top: 5px;

}
.img-team1{
    background: url(Img/team/team-1.jpg);
    width: 350px;
    height: 300px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.img-team2{
    background: url(Img/team/team-2.jpg);
    width: 350px;
    height: 300px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.img-team3{
    background: url(Img/team/team-3.jpg);
    width: 350px;
    height: 300px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.img-team4{
    background: url(Img/team/team-4.jpg);
    width: 350px;
    height: 300px;
    background-size: cover;
    border-radius: 10px 10px 0px 0px;
}
.img-text{
    margin: 20px;
}
#social1, #social2, #social3, #social4{
    display: flex;
    margin-top: -140px;
    margin-left: 30%;
    visibility: hidden;
    transform:translateY(-10px);

}
#facebook{
    background: url(Img/facebook-red.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 10px;
}
#twitter{
    background: url(Img/twitter-red.png);
    width: 30px;
    height: 30px;
    background-size: cover;

}
#insta{
    background: url(Img/insta-red.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 10px;
}
#linkedin{
    background: url(Img/linkedin-red.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 10px;
}
#facebook:hover{
    background: url(Img/facebook-black.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 10px;
}
#twitter:hover{
    background: url(Img/twitter-black.png);
    width: 30px;
    height: 30px;
    background-size: cover;

}
#insta:hover{
    background: url(Img/insta-black.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 10px;
}
#linkedin:hover{
    background: url(Img/linkedin-black.png);
    width: 30px;
    height: 30px;
    background-size: cover;
    margin-left: 10px;
}

/* --------------  CONTACT  -------------- */

.contact-text{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.contact-title{
    font-size: 30px;
}
.contact-title::after{
    content: "";
    width: 50px;
    height: 3px;
    background-color: #D73232;
    display: flex;
    margin-top: 30px;
    margin-left: 45%;
    margin-bottom: 35px;
}
.contact-subtitle{
    width: 1250px;
    text-align: center;
    margin-bottom: 35px;
}
.formulaire{
    display: grid;
    grid-auto-columns: repeat(3, 60%);
    grid-template-rows: repeat(2, 55%);
    grid-template-areas: 
    "address adress form"
    "email call form";
    margin-left: 18%;
}
.adress{
    width: 600px;
    height: 200px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    grid-area: address;
    color: #7C7676;
}
.title-contact1{
    padding-top: 3%;
    padding-bottom: 20px;
}
.img-cont1{
    background: url(Img/address.png);
    width: 30px;
    height: 40px;
    background-size: cover;
    margin-left: 46%;
    margin-top: 5%;
    color: #D73232;
}
.border{
    width: 60px;
    height: 60px;
    border: 2px dashed #D73232;
    border-radius: 50px;
    margin-top: -50px;
    margin-left: 260px;
}
.email{
    width: 280px;
    height: 200px;
    grid-area: email;    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    color: #7C7676;
}
.title-contact2{
    padding-top: 10%;
    padding-bottom: 20px;    
}
.img-cont2{
    background: url(Img/mail.png);
    width: 38px;
    height: 30px;
    background-size: cover;
    margin-left: 43%;
    margin-top: 15%;
    color: #D73232;
}
.border2{
    width: 60px;
    height: 60px;
    border: 2px dashed #D73232;
    border-radius: 50px;
    margin-top: -45px;
    margin-left: 108px;
}
.call{
    width: 280px;
    height: 200px;
    grid-area: call;    
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    text-align: center;
    color: #7C7676;
    margin-left: -295px;
}
.img-cont3{
    background: url(Img/call.png);
    width: 38px;
    height: 35px;
    background-size: cover;
    margin-left: 43%;
    margin-top: 13%;
    color: #D73232;
}
.border3{
    width: 60px;
    height: 60px;
    border: 2px dashed #D73232;
    border-radius: 50px;
    margin-top: -47px;
    margin-left: 109px;
}
.form{
    width: 600px;
    height: 440px;
    grid-area: form;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    flex-direction: column;
    margin-right: 330px;
    padding: 30px;
}
input{
    border: 1px solid #959393;
    border-radius: 3px;
    padding-left: 10px;
}
.name{
    height: 35px;
    width: 300px;
}
.name-sub, .mail{
    height: 35px;
    width: 250px;
}
.subject{
    height: 35px;
    width: 515px;
    margin-top: 30px;
}
.message{
    width: 515px;
    height: 120px;  
    border: 1px solid #959393;
    border-radius: 3px;
    padding-left: 10px;
    margin-left: 5px;
    margin-top: 30px;
}
.submit3{
    background: #D73232;
    border: none;
    color: white;
    width: 170px;
    height: 50px;
    border-radius: 5px;
    font-size: 18px;
    margin-left: 35%;
    margin-top: 10%;
}
footer{
    background-color: #242424;
    margin-top: 70px;
    display: flex;
    padding-bottom: 50px;
    color: white;
}
.column1{
    margin-left: 18%;
    padding-top: 3%;
}
.presento{
    display: flex;
}
.point{
    color: #D73232;
    font-size: 40px;
    margin-top: -6px;
}
.address{
    font-size: 15px;
    margin-top: 10px;
}
.phone{
    display: flex;
    margin-top: 10px;
}
.title-phone{
    font-weight: bold;
    margin-right: 5px;
}
.email-port{
    display: flex;
}
.title-mail{
    font-weight: bold;
    margin-right: 5px;
}
.column2{
    padding-top: 3.1%;
    margin-left: 7%;
}
.useful::after{
    content: "";
    width: 20px;
    height: 2px;
    background: #D73232;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.useful-para{
    color: #878686;
    margin-bottom: 20px;
}
.useful-para::before{
    content: ">";
    font-size: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
}
.column3{
    padding-top: 3.1%;
    margin-left: 7%;
}
.our-service::after{
    content: "";
    width: 20px;
    height: 2px;
    background: #D73232;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.our-para{
    color: #878686;
    margin-bottom: 20px;
}
.our-para::before{
    content: ">";
    font-size: bold;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-right: 5px;
}
.column4{
    padding-top: 3.1%;
    margin-left: 7%;
}
.join::after{
    content: "";
    width: 20px;
    height: 2px;
    background: #D73232;
    display: block;
    margin-top: 10px;
    margin-bottom: 10px;
}
.join-para{
    width: 380px;
    margin-bottom: 25px;
}
.input-sub{
    width:300px;
    height: 40px;
    margin-left: -3px;
}
.bouton-sub{
    background: #D73232;
    border: none;
    height: 40px;
    width: 120px;
    border-radius: 0px 5px 5px 0px;
    color: white;
    font-size: 18px;
    margin-left: -20px;
    padding-bottom: 2px;
}
.copy{
    background: #101010;
    display: flex;
    justify-content: space-around;
    height: 100px;
}
.icone-copy{
    display: flex;
    margin-top: 30px;
}
.icone-twitter{
    background: url(Img/twitter_foot.png);
    width: 35px;
    height: 35px;
    background-size: cover;
}
.icone-facebook{
    background: url(Img/facebook_foot.png);
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-left: 5px;
}.icone-insta{
    background: url(Img/insta_foot.png);
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-left: 5px;
}.icone-skype{
    background: url(Img/skype_foot.png);
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-left: 5px;
}.icone-linkedin{
    background: url(Img/linkedin_foot.png);
    width: 35px;
    height: 35px;
    background-size: cover;
    margin-left: 5px;
}
.title-copy{
    margin-top: 30px;
    color: white;
}
.copyright{
    display: flex;
}
.copyright2{
    margin-right: 5px;
}
.copyright3{
    margin-right: 5px;
    font-weight: bold;
}
.bootstrap{
    display: flex;
    font-size: 12px;
    margin-top: 10px;
}
.design2{
    margin-left: 5px;
    color: #D73232;
}

