:root{

    /* Couleur et Icones des Onglets */

    --colorShadow-1: #3a3a3a79;
    --colorShadow-2: #a7668277;
    --colorShadow-3: #48869c80;
    --colorShadow-4: #ef4c2386;
    --colorShadow-5: #fcf06e8c;
    --colorShadow-6: #41837679;
    --colorShadow-7: #7c434385;
    --colorShadow-8: #44498fb0;

    --colorTextOnglet: white;
    --colorSeparationOnglet: white;
    --shadowOnglet: black;
    --soulignTextOnglet: white;

    --boxShadow: rgba(255, 247, 247, 0.45);
    --boxInnerShadow: rgb(204, 219, 232);

    --iconeSpectacle: url(img/icon/Spectacle.svg);
    --iconeTheatre: url(img/icon/Theatre.svg);
    --iconeMagie: url(img/icon/Magie.svg);
    --iconeChorale: url(img/icon/Chorale.svg);
    --iconeCirque: url(img/icon/Cirque.svg);
    --iconeComedie: url(img/icon/Comedie.svg);
    --iconeAutre: url(img/icon/Autre.svg);
    --iconeContact: url(img/icon/Contact.svg);

    /* Ombre des Bouton */

    --shadowBtnSpectacle: #68394d;
    --shadowBtnTheatre: #265566;
    --shadowBtnMagie: #af5150;
    --shadowBtnChorale: #b63a1b;
    --shadowBtnCirque: #d8ce60;
    --shadowBtnComedie: #376d62;
    --shadowBtnAutre: #5a3434;
    --shadowBtnContact: #353969;

    /* Couleur du Titre */

    --colorTitle: #FCF16E;
    --shadowTitle: black;

    /* Couleur Primaire du site */

    --colorPrimary: #F3706D;
    
    /* Couleur du Texte Footer (Bas de Page) */

    --colorTextFooter: white;

    /* ********************************************* */
    
    /* Image Page d'Accueil */
    
    --imagePrimary: url(img/fond.jpg);
    --imageLogoLuxeuil: url(img/logoLuxeuil.png);
    --imageLogoPole: url(img/logoPole.png);

    /* Image du Site */

    --imageCircle: url(img/fondCircle.jpg);

    /* Image Carte Passe */

    --imageCardPass: url(img/cardPass.svg);
    /* Image et Icone du Footer */

    --imageFooter: url(img/footerMagie.jpg);

    --iconeAdress: url(img/icon/Adress.svg);
    --iconePhone: url(img/icon/Phone.svg);
    --iconeMail: url(img/icon/Mail.svg);
    --iconeFacebook: url(img/icon/Facebook.svg);
    --iconeVille: url(img/icon/Ville.svg);
    --iconeOfficeTourism: url(img/icon/OfficeTourism.svg);

}



    /****************** Image Footer **************************/




    /**************** Image Footer ****************************/
@media screen and (min-width: 1200px){

    body{
        margin: 0;
        padding: 0;
        overflow-x: hidden;
    }
  
    /***************NavBar *****************/
  
    nav{
      background: var(--colorPrimary);
      width: 100vw;
      height: 20vh;
      display: flex;
      color: white;
      padding: 10px;
    }
    a{
      color: white;
    }
    .logo-nav{
      background: var(--imageLogoPole);
      background-size: cover;
      width: 170px;
      height: 160px;
      margin-top: 1vh;
    }
    .facebook-ville{
      display: flex;
      justify-content: space-between;
      position: absolute;
      width: 300px;
      top: 0;
      left: 83vw;
    }
    .lien-facebook{
      background: var(--iconeFacebook);
      background-size: cover;
      width: 40px;
      height: 40px;
      margin-top: 5vh;
      margin-right: 20px;
    }
    .lien-facebook::after{
      content: "";
      width: 2px;
      height: 40px;
      display: block;
      background: white;
      position: absolute;
      left: 3vw;
    }
    .lien-odt{
      background: var(--iconeOfficeTourism);
      background-size: cover;
      width: 33px;
      height: 33px;
      margin-top: 5.3vh;
    }
    .lien-odt::after{
      content: "";
      width: 2px;
      height: 40px;
      display: block;
      background: white;
      position: absolute;
      left: 8vw;
      top: 5vh;
    }
    .lien-luxeuil{
      background: var(--imageLogoLuxeuil);
      width: 120px;
      height: 140px;
      background-size: cover;
  
      margin-left: 30px;
    }
    .onglet{
      display: flex;
      justify-content: space-around;
      margin-top: 15vh;
      width: 90vw;
    }
    .onglet-nav{
      width: 190px;
      height: 38px;
      box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset, rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      z-index: 10;
    }
    .window-onglet{
      margin-top: 32px;
      height: 60px;
      width: 180px;
      overflow: hidden;
    }
    .slide-onglet{
      width: 50px;
      height: 28px;
      transform: skewX(-20deg) translateX(-10px);
      z-index: -10;
    }
    .slide-accueil{
      background: var(--colorShadow-1);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .slide-spec{
      background: var(--colorShadow-2);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .slide-theatre{
      background: var(--colorShadow-3);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .slide-chorale{
      background: var(--colorShadow-4);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .slide-cirque{
      background: var(--colorShadow-5);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .slide-comedie{
      background: var(--colorShadow-6);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .slide-autres{
      background: var(--colorShadow-7);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .slide-contact{
      background: var(--colorShadow-8);
      box-shadow: var(--boxShadow) 3px 0px 3px 0px;
    }
    .onglet-nav:hover > .window-onglet > .slide-onglet{
      width: 200px;
      transition: width 1s linear;
    }
    .lien-nav{
      position: absolute;
      font-family : 'Pacifico', cursive ;
      font-size: 1vw;
      text-shadow:  0 0 20px var(--shadowTitle), 
      0 0 2px var(--shadowTitle), 
      0 0 3px var(--shadowTitle),   
      0 0 4px var(--shadowTitle), 
      0 0 5px var(--shadowTitle);
    }
  
  
  
  
    /************ Formulaire ***************/

    
    footer{
        width: 100vw;
        height: 35vh;
        background: var(--colorPrimary);
        margin-top: 30vh;
        font-family: 'Sofia Sans Condensed', sans-serif;
        text-shadow:  0 0 20px var(--shadowTitle), 
        0 0 2px var(--shadowTitle), 
        0 0 3px var(--shadowTitle),   
        0 0 4px var(--shadowTitle), 
        0 0 5px var(--shadowTitle);
    }
    a{
        text-decoration: none;
    }
    .schema-footer{
        background: var(--imageFooter);
        width: 100vw;
        height: 25vh;
        background-size: cover;
        position: absolute;
        margin-top: -25vh;
        z-index: -10;
    }
    .content-footer{
        display: flex;
        justify-content: space-around;
    }
    .pole-footer{
        background: var(--imageLogoPole);
        background-size: cover;
        width: 250px;
        height: 230px;
        margin-top: 5vh;
    }
    .pole-footer:hover{
        transform: scale(1.1);
        transition: transform 0.5s linear;
    }
    .separation-footer1{
        width: 0.01vw;
        height:26.5vh;
        background: var(--colorTextFooter);
        margin-left: -10vw;
        margin-top: 4vh;
        box-shadow:  0 0 1px var(--shadowTitle), 
        0 0 2px var(--shadowTitle), 
        0 0 3px var(--shadowTitle),   
        0 0 4px var(--shadowTitle), 
        0 0 5px var(--shadowTitle);
    }
    .adresse-footer{
        display: flex;
        width: 30vw;
        margin-left: 1vw;
        margin-right: 1vw;
    }
    .contact-footer{
        width: 15vw;
        height: 26vh;
        color: var(--colorTextFooter);
        font-size: 1vw;
        border: 2px dashed var(--colorTextFooter);
        border-radius: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-left: -12vw;
        margin-top: 4vh;
        box-shadow:  0 0 1px var(--shadowTitle), 
        0 0 2px var(--shadowTitle), 
        0 0 3px var(--shadowTitle),   
        0 0 4px var(--shadowTitle), 
        0 0 5px var(--shadowTitle);
    }
    .logo1{
        background:var(--iconeAdress);
        width: 2vw;
        height: 4vh;
        background-size: cover;
        margin-top: 1vh;
    }
    .rue-contact, .cp-contact{
        margin-top: -2.2vh;
    }
    .tel-mail{
        margin-top: 4vh;
        color: var(--colorTextFooter);
        font-size: 0.8vw;
    }

    .tel-footer, .mail-footer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 12vw;
        height: 12.1vh;
        border: 2px dashed var(--colorTextFooter);
        border-radius: 20px;
        margin-left: 1vw;
        box-shadow:  0 0 1px var(--shadowTitle), 
        0 0 2px var(--shadowTitle), 
        0 0 3px var(--shadowTitle),   
        0 0 4px var(--shadowTitle), 
        0 0 5px var(--shadowTitle);
    }
    .mail-footer{
        margin-top: 1.3vh;
    }
    .logo2{
        background: var(--iconePhone);
        width: 1.45vw;
        height: 3vh;
        background-size: cover;
        margin-top: 2vh;
    }
    .logo3{
        background: var(--iconeMail);
        width: 1.5vw;
        height: 3vh;
        background-size: cover;
    }
    .separation-footer2{
        width: 0.01vw;
        height:26.5vh;
        background: var(--colorTextFooter);
        margin-left: -25.5vw;
        margin-top: 4vh;
        box-shadow:  0 0 1px var(--shadowTitle), 
        0 0 2px var(--shadowTitle), 
        0 0 3px var(--shadowTitle),   
        0 0 4px var(--shadowTitle), 
        0 0 5px var(--shadowTitle);
    }
    .genre-footer{
        margin-top: 4vh;
        margin-left: -5vw;
    }
    .add{
        color: var(--colorTextFooter);
        font-size: 0.9vw;
    }
    .add:hover{
        color: rgb(163, 84, 84);
    }
    .separation-footer3{
        width: 0.01vw;
        height:26.5vh;
        background: var(--colorTextFooter);
        margin-left: -5vw;
        margin-top: 4vh;
        box-shadow:  0 0 1px var(--shadowTitle), 
        0 0 2px var(--shadowTitle), 
        0 0 3px var(--shadowTitle),   
        0 0 4px var(--shadowTitle), 
        0 0 5px var(--shadowTitle);
    }
    .site-footer{
        font-size: 1vw;
    }
    .text-footer{
        color: var(--colorTextFooter);
        margin-top: 5vh;
    }
    .text-footer:hover{
        color: var(--colorMagie);
    }
    .facebook-footer{
        margin-top: 3vh;
    }
    .facebook-footer, .ville-footer, .odt-footer{
        display: flex;
    }
    .logo-facebook{
        background: var(--iconeFacebook);
        margin-left: -6vw;
        margin-right: 1vw;
    }
    .logo-ville{
        background: var(--iconeVille);
        margin-left: -6vw;
        margin-right: 1vw;
    }
    .logo-office{
        background: var(--iconeOfficeTourism);
        margin-left: -6vw;
        margin-right: 1vw;
    }
    .img-footer{
        width: 2vw;
        height: 4vh;
        background-size: cover;
        margin-top: 4vh;

    }

}


