@media screen and (min-width: 600px){

    /* ----------  HEADER  ------------ */

    body{
        margin: 0;
        padding: 0;
        background: url(img/back.webp);
        background-size: cover;
    } 
    .content{
        height: 10vh;
        display: grid;
        grid-template-columns: 20% 79%;
        grid-template-areas: 
            "logo nav";  
        margin-right: 10vw;     
    }
    h1{
        margin-bottom: 100px;
        font-family: 'Island Moments', cursive;
        font-size: 60px;
        height: 50px;
        color: #fff;
    }
    .logo{
        background: url(img/control.svg);
        width: 50px;
        height: 31px;
        background-size: cover;
        margin: 50px 5px 5px 5px;
        animation: rotate 1s infinite;    
    }
    @keyframes rotate {
        0%{
          transform: rotate(-15deg)
        }
        50%{
          transform: rotate(15deg)     
        }
        100%{
          transform: rotate(-15deg)     
        }
    }
    .title{
        display: flex;
        color: white;
        margin-left: 50px;
        margin-top: -3vh;
    }   
    .subtitle{
        font-family: dayrom;
        font-weight: bold;
        grid-area: logo;
        margin-top: 80px;
        margin-left: 10px;
    }  
    ul{
        grid-area: nav;
        display: flex;
        justify-content: flex-end;
        margin-left: 40vw;
    }  
    li{ 
        margin-left: 10%;
        list-style-type: none;
    }
    li:hover{
        transform: translateY(3px);
    }
    .link:hover{
        box-shadow: 0 2px white;
    }
    .modal_close{
        visibility: hidden;
    }
    .link{
        text-decoration: none;
        font-family: 'Bebas Neue', cursive;
        color: white;
        text-shadow:  0 0 7px #fff, 
        0 0 10px #fff, 
        0 0 42px rgb(0, 81, 219),   
        0 0 77px rgb(0, 81, 219), 
        0 0 100px rgb(0, 81, 219);
        border: 2px solid white;
        border-radius: 50px;
        padding: 8px 15px 8px 15px;
        box-shadow: 0 5px white;
    }  
    .accueil{
        grid-area: acc;
    }
    .blog{
        grid-area: blo;
    }   
    .cv {
        grid-area: cv;
    }  
    .contact{
        grid-area: cont;
    }  
    .slide{
        background: url(imageS/separateur.png);
        width: 500%;
        height: 4px;
    }

            /* ----------  MAIN  ------------ */

    .container{
        display: grid;
        grid-template-columns: repeat(3, 30%);
        margin-left: 5vw;
        margin-top: 5vh;
        grid-gap: 5vh;
        margin-bottom: 100px;
    }
    .image1{
        background: url(img/cyberpunk.jpg);
        background-size: cover;
        width: 20vw;
        height: 23vh;
    }
    .image2{
        background: url(img/hogwarts.jpg);
        background-size: cover;
        width: 20vw;
        height: 23vh;
    }
    .image3{
        background: url(img/ff7.webp);
        background-size: cover;
        width: 20vw;
        height: 23vh;
    }
    .image4{
        background: url(img/lotr.png);
        background-size: cover;
        width: 20vw;
        height: 23vh;
    }
    .image5{
        background: url(img/sonic.jpg);
        background-size: cover;
        width: 20vw;
        height: 23vh;
    }
    .image6{
        background: url(img/starwars.webp);
        background-size: cover;
        width: 20vw;
        height: 23vh;
    }
    .section{
        border: 2px solid white;
        width: 20vw;
        padding: 30px;
        border-radius: 15px;
        box-shadow: 0 5px white;
    }
    .section:hover{
        transform: translateY(3px);
        box-shadow: 0 2px white;
    }
    .desc{
        color: white;
        text-shadow:  0 0 7px #fff, 
        0 0 10px #fff, 
        0 0 42px white,   
        0 0 77px white, 
        0 0 100px white;
    }
}












    @media screen and (max-width: 600px){
        body{
            margin: 0;
            padding: 20px 30px;
            background: #fff7da;}
        
        .content{
            background: #fff7da;
            height: 150px;
            display: grid;
            grid-template-columns: 49% 49%;
            grid-template-areas: 
                "logo nav"}
        
        .logo{
            background: url(image/zozor_logo.png);
            width: 40px;
            height: 40px;
            background-size: cover;
            grid-area: logo;}
        
        .title{
            font-family: ballpark;
            font-size: 30px;
            grid-area: logo;
            margin: 30px;}
            
        .subtitle{
            font-family: dayrom;
            font-weight: bold;
            grid-area: logo;
            margin-top: 60px;
            margin-left: -10px;}
        
        .navbar ul li{
            font-family: dayrom;
            font-size: 20px;
            list-style-type: none;}
        
        ul{
            grid-area: nav;
            display: flex;
            flex-direction: column;
            margin-right: 10%;}
    
        li{ 
            margin-left: 10%;
            margin-top: 20px;
            }
            /* Menu Burger */
        #button{
            width: 42px;
            height: 24px;
            padding-top: 20px;
            margin-left: 80%;}
        
        .burger{
            width: 25px;
            height: 3px;
            background-color: black;
            display: flex;
            flex-direction: column;}
        
        .burger::before, .burger::after{
            content: "";
            position: absolute;
            width: 25px;
            height: 3px;
            background-color: black;
            align-self: center;}
        
        .burger::before{
            transform: translateY(-10px);}
        
        .burger::after{
            transform: translateY(10px);}
    
                   /* Fenêtre Modal */
        .modal{
            visibility: hidden;
            opacity: 0;
            background-color: rgba(7, 7, 7, .7);
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            position: absolute;}
    
        .modal:target{
            visibility: visible;
            animation: anime 3s;
            opacity: 1;}
        
        @keyframes anime{
            from{
                transform: translateX(-100%)
            }
            to{
                transform: translateX(0);}}
    
        .modal-content{
            background-color: #8f463d;
            width: 20vw;
            height: 100vh;
            max-width: 25%;
            display: block;
            padding: 25px;}
    
        .modal_close{
            color: white;
            font-size: 30px;
            justify-self: right;
            text-decoration: none;}
        
        a{
            text-decoration: none;
            color: white;}
        
        .navbar ul a:hover{
            color: #8f463d;
            text-shadow: 1px 2px 3px #6e342d;
            border-bottom: 3px solid #8f463d;}
        
        .accueil{
            grid-area: acc;}
        
        .blog{
            grid-area: blo;}
        
        .cv {
            grid-area: cv;}
        
        .contact{
            grid-area: cont;}
        
        .slide{
            width: 200%;
        }
    }