@media screen and (min-width:300px) and (max-width: 400px){
    html, body {
        display: flex;
        flex-direction: column;
        align-items: center;
		background: white;
		text-align: center;
		height: 100vh;
		overflow: hidden;
		margin: 0;
	  }
	  ::selection {
		background: rgb(219, 80, 82);
	  }
	  .svg-wrapper {
		position: relative;
		top: 50%;
		transform: translateY(-40%);
		margin: 0 auto;
		width: 500px;
		margin-top: -10vh;
        padding: 10px;
        
	  }
	  .shape1,
	  .shape2 {
		stroke-dasharray: 920;
		stroke-width: 5px;
		fill: transparent;
		stroke: rgb(219, 80, 82, .5);
		border-bottom: 5px solid black;
		transition-timing-function: linear;
		transition: stroke-dashoffset 4s, stroke-dasharray 4s;

	  }
	  .shape1 {
		stroke-dashoffset: 920;
	  }
	  .shape2 {
		stroke-dashoffset: -920;
	  }
	  .text {
		font-family: 'Roboto Condensed';
		font-size: 15px;
		line-height: 32px;
		letter-spacing: 8px;
		color: #1D1D1D;
		top: -48px;
		position: relative;
	
	  }
	  .svg-wrapper .shape1,
	  .svg-wrapper .shape2 {
		stroke-dashoffset: 0;
		stroke-dasharray: 1120;
        
	  } 
      img{
        width: 370px;
      }
	  .burger{
        width: 25px;
        height: 3px;
        background-color: white;
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-left: -20px;
    }
    
}