*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html, body {
    padding: 25px;
    height: 100%;
    width: auto;
}

body{
    background: url("Image/Desktop.png");
    background-size: cover;
    background-repeat: no-repeat;

}
main{
    display: flex;
    justify-content: space-between;
    align-items: start;
    padding-top: 100px;
    width: 80%;
}
.commu{
    background: url("Image/Commu.png");
    background-size: cover;
    width: 35vw;
    height: 25vw;
}
.register{
    background: url("Image/button.png");
    background-size: cover;
    font-size: 18px;
    width: 200px;
    height: 58px;
    margin-top: 50px;
}
.register:hover{
    background: url("Image/Button2.png");
    background-size: cover;
    width: 200px;
    height: 58px;
}
#text{
    width: 520px;
    height: 305px;
    margin-top: 50px;
}
.title{
    font-family: 'Poppins', sans-serif;
    color: white;
    font-size: 40px;
}
.subtitle{
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18px;
    line-height: 27px;
    width: 27vw;
    height: 81px;
    margin-top: 50px;
}
footer{
    display: flex;
    justify-content: space-between;
    width: 152px;
    height: 40px;
    float: right;
    margin-top: 200px;
}
.facebook{
    background: url("Image/facebook.png");
    width: 40px;
    height: 40px;
}
.twitter{
    background: url("Image/twitter.png");
    width: 40px;
    height: 40px;
}
.insta{
    background: url("Image/insta.png");
    width: 40px;
    height: 40px;
}
.facebook:hover{
    background: url("Image/facebook2.png");
    width: 40px;
    height: 40px;
}
.twitter:hover{
    background: url("Image/twitter2.png");
    width: 40px;
    height: 40px;
    
}
.insta:hover{
    background: url("Image/insta2.png");
    width: 40px;
    height: 40px;
}


@media screen and (max-width: 600px){
    html, body {
        padding: 40px;
        height: 100%;
    }
    body{
        background: url("Image/fontmobile.png");
        background-size: cover;
        background-repeat: no-repeat;
    }

    
    main{
        display: flex;
        flex-direction: column;
        padding-top: 100px;
        width: 80%;
    }
    .commu{
        background: url("Image/Commu.png");
        background-size: cover;
        width: 296px;
        height: 209px;
    }
    .register{
        background: url("Image/button.png");
        background-size: cover;
        font-size: 18px;
        width: 200px;
        height: 58px;
        margin: 50px;}

    .register:hover{
        background: url("Image/Button2.png");
        background-size: cover;
        width: 200px;
        height: 58px;
    }
    #text{
        width: 304px;
        height: 272px;
        margin-top: 50px;
        text-align: center;
    }
    .title{
        font-family: 'Poppins', sans-serif;
        color: white;
        font-size: 24px;

    }
    .subtitle{
        font-family: 'Open Sans', sans-serif;
        color: white;
        font-size: 16px;
        line-height: 27px;
        width: 280px;
        height: 120px;
        margin-top: 50px;
        font-style: normal;
    }
    footer{
        width: 152px;
        height: 40px;
        position: fixed;
        margin-top: 150px;
        margin-left: 70px;
    }
    .facebook{
        background: url("Image/facebook.png");
        width: 40px;
        height: 40px;
    }
    .twitter{
        background: url("Image/twitter.png");
        width: 40px;
        height: 40px;
    }
    .insta{
        background: url("Image/insta.png");
        width: 40px;
        height: 40px;
        padding: 0%;
    }
}