#card {
  display: flex;
  flex-wrap: wrap;
  width: 600px;
  margin: 0 auto;
  margin-top: 50px;
}

.card {
  width: 100px;
  height: 100px;
  margin: 10px;
  background-color: #ddd;
  background-image: url("verso.jpg");
  background-size: cover;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.card:hover {
  transform: scale(1.1);
}

.matched {
  background-color: #ccc;
  cursor: default;
}

.logo {
  width: 200px;
  height: 100px;
  background-color: #333;
  margin: 0 auto;
  margin-top: 50px;
}
.card1{
  background: url(image/knuckles.png);
}