/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

* {
	box-sizing: border-box;
	outline: none;
	list-style: none;}

body {
	font-family: 'Pattaya', sans-serif;}

.navbar{
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding:5px;
	color:white;
	background:#4A4A4A;}

.navbar-links {
	display: flex;}

.navbar-link {
	padding:0 10px;}

.navbar-link a {
	text-decoration: none;
	color:white;}


/* Small Device */


.navbar-link > a{
	font-size: 1,6rem;
	transition: all .4s ease-in-out;}

.navbar-link > a:hover{
	padding-left: 2rem;
	letter-spacing: 2px;}

div#form{
	text-align: center;
	padding-left: 35%;
	padding-top: 5%;
	margin-bottom: 50px;}

form {  /*Mise en Forme du Cadre*/
 font-family:"trebuchet ms",sans-serif;
 font-size:120%;
 background-color:transparent;
 padding:10px;
 width:500px;}

fieldset {
 padding:1 1px 1px 1px;
 margin-bottom:20px;
 border:1px solid ;}

legend {
 color:#640303;
 font-weight:bold}

label {
 margin-top:20px;
 display:block;}

label.inline {
 display:inline;
 margin-right:10px;}

input, textarea, select, option { /*Fond Bar de Choix*/
 background-color:#FFF3F3;}

input, textarea, select { /*Barre de Choix*/
 padding:3px;
 border:1px solid #640303;  /*"Epaisseur du contour"*/
 border-radius:1px;
 width:200px;  /*"largeur bar de choix"*/
 box-shadow:1px 1px 2px #640303 inset;}

select {
 margin-top:20px;}

input[type=radio] {
 background-color:transparent;
 border:none;
 width:10px;}

input[type=submit], input[type=reset] {  /*Bouton Envoyer et Fermer*/
 width:100px;
 margin-left:10px;
 box-shadow:1px 1px 1px #640303;
 cursor:pointer;}