/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Pattaya&display=swap');

html, body {
	text-align: center;
	margin: 0;
	overflow: hidden;
  }
  img{
	margin-top: -20vh;
  }
  ::selection {
	background: #19f6e8;
  }
  .svg-wrapper {
	position: absolute;
	left: 40vw;
	top: 80vh;
	width: 500px;
  }
  .shape1,
  .shape2 {
	stroke-dasharray: 1120;
	stroke-width: 5px;
	fill: transparent;
	stroke: #5c0202;
	border-bottom: 5px solid black;
	transition-timing-function: linear;
	transition: stroke-dashoffset 4s, stroke-dasharray 4s;
  }
  .shape1 {
	stroke-dashoffset: 1120;
  }
  .shape2 {
	stroke-dashoffset: -1120;
  }
  .text {
	font-family: 'Roboto Condensed';
	font-size: 22px;
	line-height: 32px;
	letter-spacing: 8px;
	color: rgb(34, 34, 34);
	top: -48px;
	position: relative;
  }
  .svg-wrapper:hover .shape1,
  .svg-wrapper:hover .shape2 {
	stroke-dashoffset: 0;
	stroke-dasharray: 1120;
  }