body{
    padding: 20px;
    margin: 0;
    height: 100vh;
    border: 2px solid black;
    display: grid;
    grid-template-columns: 15% 68% 15%;
    grid-template-rows: 10% 70% 10%;
    grid-gap: 20px;
    grid-template-areas:
        "header header header"
        "section nav aside"
        "footer footer footer"
}

header{
    background: green;
    grid-area: header;
}
section{
    background: purple;
    grid-area: section;
}
main{
    background: aqua;
    grid-area: nav;
}
.aside{
    background: orange;
    grid-area: aside;
}
footer{
    background: red;
    grid-area: footer;
}