body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

#rect{
    width: 100px;
    height: 100px;
    background: blue;

}

#content{
    display: flex;
    flex-direction: column;
    margin-left: 50px;
}

