@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body{
  height: 100%;
  font-weight: 800;
}

body{
  background: #030321;
  font-family: Arial;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100vh;
}

svg {
    display: block;
    font: 7.5em 'Google';
    width: 50vw;
    height: 30vh;
    margin-top: 10vh;
}

.text-copy {
    fill: none;
    stroke: white;
    stroke-dasharray: 6% 29%;
    stroke-width: 5px;
    stroke-dashoffset: 0%;
    animation: stroke-offset 5.5s infinite linear;
}

.text-copy:nth-child(1){
  stroke: #25B604;
  animation-delay: -1;
}

.text-copy:nth-child(2){
  stroke: #0465B6;
  animation-delay: -2s;
}

.text-copy:nth-child(3){
  stroke: #0465B6;
  animation-delay: -3s;
}

.text-copy:nth-child(4){
  stroke: #BD0034;
  animation-delay: -4s;
}

.text-copy:nth-child(5){
  stroke: #FDB731;
  animation-delay: -5s;
}

@keyframes stroke-offset{
  100% {stroke-dashoffset: -35%;}
}
.frmSearch{
    margin-left: 13vw;
}
#search{
    width: 25vw;
    height: 5vh;
    border-radius: 28px;
    border: 2px solid #AFAFAF;
    background: transparent;
    background-image: url(img/loupe.svg);
    background-repeat: no-repeat;
    background-size: 30px;
    background-position: 20px;
    padding-left: 60px;
    color: #AFAFAF;
    font-size: 25px;
}
.btn{
  display: flex;
  margin-top: 3vh;
  margin-left: 17vw;
}
button{
  width: 100px;
  height: 50px;
  border-radius: 25px;
  background: transparent;
  border: 1px solid #AFAFAF;
  color: #AFAFAF;
  box-shadow: 0 5px #A1A1A1A1;

}
#chance{
  margin-left: 10vw;
}
button:active{
  box-shadow: 0 1px #a8a8a8;
  transform: translateY(2px);
}
